html, body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}

.divImg{
  width: 30%;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.page{
  padding: 14px;
}
.search{
  margin-bottom: 25px;
}

.column{
  flex: 21%;
  border: 3px solid rgb(172, 172, 172);
  padding: 2px;
  margin: 1px;
  text-align: center;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  
}

.center {
  text-align: center;
}